---
http_interactions:
- request:
    method: get
    uri: https://api.eatabit.io/v4/account/617117b5-4042-4951-b75c-88f2ee159afd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NjE3MTE3YjUtNDA0Mi00OTUxLWI3NWMtODhmMmVlMTU5YWZkOmM3YWUyMDY3LTk1YmQtNDcyMi05MDlhLTkzMDdjZTAxOTA5Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a007749d791e6e9e2a5e9899d2bb4aba"
    body:
      encoding: UTF-8
      string: '{"account":{"sid":"617117b5-4042-4951-b75c-88f2ee159afd","name":"eatabit.io","environment":"development","enabled":true,"created_at":"2014-11-05T18:37:15Z"}}'
  recorded_at: Fri, 11 Nov 2016 01:16:15 GMT
recorded_with: VCR 3.0.3
