---
http_interactions:
- request:
    method: get
    uri: https://api.eatabit.io/v4/account/617117b5-4042-4951-b75c-88f2ee159afd/printers/fc4a764b-4822-45d5-b91f-bc808412002f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NjE3MTE3YjUtNDA0Mi00OTUxLWI3NWMtODhmMmVlMTU5YWZkOmM3YWUyMDY3LTk1YmQtNDcyMi05MDlhLTkzMDdjZTAxOTA5Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce0839e0fc30fa10832b60972148c680"
    body:
      encoding: UTF-8
      string: '{"printer":{"id":"FC4A764B-4822-45D5-B91F-BC808412002F","fulfillment":5,"state":"unavailable","name":"Eatabit.io
        Pizza","enabled":true,"online":false,"autoprint":false,"sound":1,"light":1,"paper":true}}'
  recorded_at: Fri, 11 Nov 2016 01:16:35 GMT
recorded_with: VCR 3.0.3
