---
http_interactions:
- request:
    method: get
    uri: https://api.eatabit.io/v5/account/617117b5-4042-4951-b75c-88f2ee159afd/printers/fc4a764b-4822-45d5-b91f-bc808412002f/jobs/30751
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NjE3MTE3YjUtNDA0Mi00OTUxLWI3NWMtODhmMmVlMTU5YWZkOmM3YWUyMDY3LTk1YmQtNDcyMi05MDlhLTkzMDdjZTAxOTA5Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10f2710db12e0d70a67ea081b023640b"
    body:
      encoding: UTF-8
      string: '{"job":{"id":30751,"state":"expired","body":"One large pepperoni pizza","environment":"development","fulfill_at":"2015-08-11T22:38:41Z","status_url":"https://api.mysite.com/orders/1024768.json","status_url_method":"PUT","expire_seconds":300,"expires_at":"2015-08-11T22:38:41Z","external_id":"1024-768#ALPHA","double_print":false,"account":{"sid":"617117b5-4042-4951-b75c-88f2ee159afd"},"printer":{"id":"FC4A764B-4822-45D5-B91F-BC808412002F","fulfillment":5,"state":"unavailable"},"created_at":"2015-08-11T22:33:41Z"}}'
  recorded_at: Thu, 10 Nov 2016 15:32:08 GMT
recorded_with: VCR 3.0.3
