---
http_interactions:
- request:
    method: post
    uri: https://api.eatabit.io/v5/account/617117b5-4042-4951-b75c-88f2ee159afd/printers/fc4a764b-4822-45d5-b91f-bc808412002f/jobs
    body:
      encoding: UTF-8
      string: id=1024-768%23ALPHA&body=One+large+pepperoni+pizza&status_url=https%3A%2F%2Fapi.mysite.com%2Forders%2F1024768.json&status_url_method=PUT&expire_seconds=400
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NjE3MTE3YjUtNDA0Mi00OTUxLWI3NWMtODhmMmVlMTU5YWZkOmM3YWUyMDY3LTk1YmQtNDcyMi05MDlhLTkzMDdjZTAxOTA5Nw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f59c5430eeac9139a0fffc300c61b83"
    body:
      encoding: UTF-8
      string: '{"job":{"id":147748,"state":"queued","body":"One large pepperoni pizza","environment":"development","fulfill_at":"2016-11-10T15:37:07Z","status_url":"https://api.mysite.com/orders/1024768.json","status_url_method":"PUT","expire_seconds":400,"expires_at":"2016-11-10T15:38:47Z","external_id":"1024-768#ALPHA","double_print":false,"account":{"sid":"617117b5-4042-4951-b75c-88f2ee159afd"},"printer":{"id":"FC4A764B-4822-45D5-B91F-BC808412002F","fulfillment":5,"state":"unavailable"},"created_at":"2016-11-10T15:32:07Z"}}'
  recorded_at: Thu, 10 Nov 2016 15:32:08 GMT
recorded_with: VCR 3.0.3
